<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<header th:replace="/fragments/header.html :: headerFragment"></header>
    <title>작품 정보</title>
</head>
<body>
<nav th:replace="/fragments/nav.html :: navFragment"></nav>
	<h1 class="mt-4">뮤지컬 정보</h1>

        <div class="form-group">
            <label>제목</label>
            <input type="text" class="form-control" name="title" th:value="${dto.prfnm}" readonly>
        </div>
        <div class="form-group">
            <label>Review Count</label>
            <!-- <input type="text" class="form-control" name="title" th:value="${dto.reviewCnt}" readonly> -->
        </div>
        <div class="form-group">
            <label>Avg</label>
           <!--  <input type="text" class="form-control" name="title" th:value="${dto.avg}" readonly> -->
        </div>
        <div class="form-group">
        	<img th:src= "${dto.poster}" />
        </div>
</body>
<footer th:replace="/fragments/footer.html :: footerFragment"></footer>
</html>