<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:replace="/fragments/header.html :: headerFragment"></header>
</head>
<body>
	<nav th:replace="/fragments/nav.html :: navFragment"></nav>
	
    <th:block th:fragment="content">
        <h1 class="mt-4">GuestBook Register Page</h1>
        <form th:action="@{/board/register}" th:method="post">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" placeholder="Enter Title">
            </div>
            <div class="form-group">
                <label>Content</label>
                <textarea class="form-control" rows="5" name="content"></textarea>
            </div>
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username" placeholder="Enter Username">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </th:block>
</body>
<footer th:replace="/fragments/footer.html :: footerFragment"></footer>
</html>