<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <header th:replace="/fragments/header.html :: headerFragment"></header>
    <title>로그인 페이지</title>
    <style>
        .form-group{
            width: 430px;
            margin: 0 auto;
        }
        .find-btn{
            text-align: center;
        }
        .kakaoBtn, .naverBtn{
            display: inline-block;
        }
    </style>
</head>
<body>
<form action="/auth/loginProcess" method="post">
<div class="form-group">
    <label class="form-label mt-4">뮤지컬 커뮤니티 로그인</label>
    <div class="form-floating mb-3">
        아이디 : <input type="text" class="form-control" id="username" name="username" placeholder="Enter name">
<!--        <label for="floatingInput">Email address</label>-->
    </div>
    <div class="form-floating">
        비밀번호 : <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
<!--        <label for="floatingPassword">Password</label>-->
    </div>
    <div class="find-btn">
    <button type="submit" id="btn-login" class="btn btn-primary">로그인</button>
    <a href="https://kauth.kakao.com/oauth/authorize?client_id=97b71fb1173796d82ab79fcc59b40a7b&redirect_uri
    =http://localhost:8083/auth/kakao/callbacktest&response_type=code">
        <img src="/image/kakao_login_button.png" class="kakaoBtn" style="width: 76px;"></a>
    <a href="/oauth2/authorization/naver"><img src="/image/naver_login_button.png" class="naverBtn" style="width: 105px;"></a>
    </div>
    <div class="loginFail">
    	[[${error}]]
    	[[${exception}]]
    </div>
</div>
</form>
</body>
<footer th:replace="/fragments/footer.html :: footerFragment"></footer>
</html>