<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="~{fragments/layout}">
<head>
	<header th:replace="/fragments/header.html :: headerFragment"></header>
	<title>메인 페이지</title>
</head>
<body>
	<nav th:replace="/fragments/nav.html :: navFragment"></nav>
	<!-- 페이지 소스 -->
	<div class="content">
		<p class="text-primary">머글들은 모르는 뮤덕들의 공간</p>
		<p class="text-info">Muggle</p>
	</div>
	
	
</body>
<footer th:replace="/fragments/footer.html :: footerFragment"></footer>
</html>